.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.modalBody {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;

  .modal__header {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .modal__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input {
      border: 1px solid black;
      width: 50%;
    }
  }

  .modal__confirm {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 60%;

    .modal__confirm-cancel,
    .modal__confirm-save {
      background-color: #808080;
      border-radius: 1rem;
      width: 3.5rem;
    }
    div:hover {
      cursor: pointer;
    }
  }
}

#modal--closeBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
  font-size: 1.2rem;
}

#modal--closeBtn:hover {
  cursor: pointer;
}
