body {
  background-color: #f9f9f9;
}

.App {
  input {
    padding: 4px 8px;
    margin: 2px;
  }

  .contents__item {
    margin: 16px 0;
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  }
}

.contents {
  display: grid;
  width: 90%;
  max-width: 1600px;
  margin: auto;

  .contents__item {
    position: relative;
    grid-template-columns: 100%;
    height: 18rem;
    max-height: 18rem;
  }

  @media (min-width: 1px) and (max-width: 1023px) {
    .contents__item-logo,
    .contents__item-likeCount,
    .contents__item-button,
    .contents__item-TextBox {
      position: absolute;
      z-index: 1;
    }

    .contents__item-logo {
      top: 3%;
      left: 3%;
    }

    .contents__item-image {
      width: 100%;
      height: 100%;
      border-radius: 12px;
    }

    .contents__item-likeCount {
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
      top: 3%;
      right: 3%;
    }

    .contents__item-button {
      top: 15%;
      right: 3%;
    }

    .contents__item-TextBox {
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      width: 100%;
      bottom: 0%;
      border-radius: 12px;
      box-sizing: border-box;
      padding: 0.8rem;
    }

    .contents__item-createdAt {
      color: #b2bec3;
    }
  }

  @media (min-width: 480px) and (max-width: 1023px) {
    grid-template-columns: 48% 48%;
    column-gap: 4%;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 100%;

    .contents__item-logo,
    .contents__item-title,
    .contents__item-createdAt,
    .contents__item-likeCount,
    .contents__item-button {
      position: absolute;
      z-index: 1;
    }

    .contents__item-logo {
      top: 3%;
      left: 1%;
    }

    .contents__item-image {
      position: absolute;
      width: 25%;
      height: 100%;
      border-radius: 12px;
    }

    .contents__item-likeCount {
      left: 30%;
      top: 40%;
    }

    .contents__item-createdAt {
      left: 30%;
      bottom: 15%;
    }

    .contents__item-title {
      font-weight: bold;
      font-size: 1.1rem;
      width: 50%;
      left: 30%;
      top: 50%;
    }

    .contents__item-button {
      right: 3%;
      top: 50%;
    }
  }
}

.contents__bar {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

  .searchBar {
    margin-left: auto;

    .searchBar-all {
      text-align: right;
      margin-bottom: 0.7rem;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.contents-form {
  display: flex;
  width: 90%;
  margin: auto;

  @media (min-width: 480px) and (max-width: 1023px) {
    flex-direction: column;
    align-items: end;
  }

  @media (min-width: 1024px) {
    justify-content: flex-end;
  }
}
